header{
    height: 722px;
    background: url("../images/fondo.jpg") no-repeat center;
    background-size: cover;
    div{
        background-color: $color-divs;
        width: 100%;
        height: 100px;
        filter:alpha(opacity=80);
        -moz-opacity:.80;
        opacity:.80;
        nav{
            float: right;
            ul{
                list-style-type: none;
                display: flex;
                li{
                    margin: 8px;
                    margin-top: 30px;
                    a{
                        color: $primary-color;
                        font-size: $footer-size-div;
                        &:hover{
                            background-color: #424242;
                        }
                    }
                }
            }
        }
    }
}